@font-face {
  font-family: DefaultText; /* Имя шрифта */
  src: url(./fonts/16857.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: BickhamScriptOne; /* Имя шрифта */
  src: url(./fonts/BickhamScriptOne.ttf); /* Путь к файлу со шрифтом */
}

body{
  margin: 0;
  padding: 0;
  font-family: DefaultText;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

a{
  text-decoration: none;
}

.pageMainBtn{
  display: none;
}

.staticContent{
  width: 100%;
  height: 100%;
}

.gold_button{
  text-transform: uppercase;
  color: #a98535;
  text-align: center;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 3px;
  border: 3px solid #a98535;
  background-color: rgba(0, 0, 0, 0.22);
  cursor: pointer;
  margin-top: 30px;
  transition: 0.3s;
}

.gold_button:hover{
  background-color: #a98535;
  color: black;
}

/** Scroll bars **/
#page::-webkit-scrollbar-track
{
  background-color: #ffffff;
  border-left: 1px solid #c3c3c3;
}

#page::-webkit-scrollbar{
  width: 6px;
  background-color: #000000;
  border-radius: 10px;
  cursor: pointer;
}

#page::-webkit-scrollbar-thumb{
  background-color: #262626;
  border-radius: 0;
  cursor: pointer;
}

/** Root **/
#root{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/** Preloader **/
.preloader{
  position: fixed;
  z-index: 1000;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.3s;
}

.preloader.fadeout{
  transform: scale(5);
  opacity: 0;
  z-index: -1;
}

.preloader .LoaderBalls {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.preloader .LoaderBalls__item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #a98535;
}

.preloader .LoaderBalls__item:nth-child(1) {
  animation: bouncing 0.4s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}

.preloader .LoaderBalls__item:nth-child(2) {
  animation: bouncing 0.4s 0.1s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}

.preloader .LoaderBalls__item:nth-child(3) {
  animation: bouncing 0.4s 0.2s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}

@keyframes bouncing {
  0% {
    transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
  }
  100% {
    transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
  }
}

/** menu **/
.menu{
  position: fixed;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 55px;
  color: white;
  transition: 0.2s;
}

.sessionBlock{

}

.authBlock{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}

.rightMenuBlock{
  right: 10px;
}

.userBlock{

}

.otherMenuBtn{
  display: inline-block;
  margin: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s;
  color: white;
}

.otherMenuBtn:hover{
  color: #ffb000;
}

.menuBlock{
  margin: auto;
  width: fit-content;
  margin-top: 10px;
}

.menu .menu_btn{
  display: inline-block;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  transition: 0.3s;
}

.menu .menu_btn:hover{
  color: #ffb000;
}

/** Block **/
.page{
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  float: left;
  background-color: #ffffff;
  min-height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.block{
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  float: left;
  background-color: #ffffff;
}

/** Buttons **/
.fixedButton{
  position: fixed;
}

.fixedButton.toTop{
  right: 20px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: #262626;
  z-index: 5;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
}

.fixedButton.toTop:hover{
  background-color: #000000;
  color: red;
}

/** HeadComponent **/
.background_block{
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background_block img{
  height: 100%;
  min-width: 100%;
  position: absolute;
  z-index: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.background_filter{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.41);
  background-image: url("https://www.transparenttextures.com/patterns/txture.png");
}

.big_logotype{
  position: absolute;
  width: 700px;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.big_logotype img{
  max-width: 100%;
}


#scroll-d {
  position: absolute;
  bottom: 1%;
  left: 50%;
  color: #a98535;
  font-size: 40px;
  font-weight: 200;
  z-index: 1;
  transform: translate(-50%, 0);
}

// Animations
@keyframes bounce {
  to {
    transform: rotate(45deg) translateY(2rem) translateX(2rem);
    opacity: 0;
  }
}
@keyframes bounce {
  to {
    transform: translateX(2rem);
    opacity: 0;
  }
}

/** title_block **/
.title_block{
  text-transform: uppercase;
  width: fit-content;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 44px;
  position: relative;
}

.thisTitle{
  position: relative;
  z-index: 1;
  cursor: default;
  pointer-events: none;
  font-size: 40px;
}

.thisSubTitle{
  position: absolute;
  white-space: nowrap;
  left: 50%;
  transform: translate(-50%, 0px);
  top: 0px;
  font-style: italic;
  font-weight: bold;
  opacity: 0.3;
  z-index: 0;
  font-family: BickhamScriptOne;
  cursor: default;
  pointer-events: none;
}

.title_line{
  width: 120px;
  height: 2px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

/** AboutComponent **/
.block.about{
  height: auto;
}

.aboutText{
  max-width: 1080px;
  margin: auto;
  text-align: justify;
  font-size: 20px;
  position: relative;
}

.socialsBlock{
  position: absolute;
  left: 0;
  bottom: 100px;
  font-size: 30px;
  z-index: 1;
}

.socialsBlock a{
  margin: 10px 5px;
  cursor: pointer;
  text-decoration: none;
  color: #615651;
  transition: 0.3s;
}

.socialsBlock a:hover{
  color: #11a0ff;
}

.stamp{
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}

.absoluteImage{
  position: relative;
}

#stamp{
  max-width: 200px;
  width: 100%;
  z-index: 1;
  right: 0;
  position: absolute;
}

#signature{
  right: -100px;
  z-index: 0;
  opacity: 0.7;
}

/** StatisticComponent **/
.block.statistic{
  overflow: hidden;
  height: 320px;
  position: relative;
}

.statisticTexture{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.41);
  background-image: url("https://www.transparenttextures.com/patterns/txture.png");
}

.block.statistic .background video{
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.statisticData{
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

.statisticBlockData{
  display: inline-block;
  text-align: center;
  width: 265px;
  margin: 0 10px;
  padding: 20px 0;
  border: 2px solid #f3f3f3;
}

.statisticImage{
  width: 80px;
  text-align: center;
  margin: auto;
  font-size: 30px;
  color: white;
}

.statisticImage img{
    max-width: 100%;
}

.statisticTitle{
  font-size: 24px;
  color: white;
}

.statisticTitle2{
  font-size: 18px;
  color: white;
}

.statisticLength{
  font-size: 34px;
  color: white;
  font-weight: bold;
}

/** ServicesComponent **/
.block.services{
  height: auto;
}

.servicesBlockData{
  max-width: 1180px;
  margin: auto;
}

.service_block{
  width: calc(100% / 4 - 20px);
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
  display: inline-block;
  height: 400px;
  margin: 10px;
  position: relative;
}

.setrviceLine{
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;
}

.setrviceLine.image{

}

.setrviceLine.image img{
  height: 183px;
}

.setrviceLine.title{
  text-transform: uppercase;
  margin: 5px 0;
  font-weight: bold;
  color: #393939;
}

.setrviceLine.text{
  padding: 0 10px;
  width: calc(100% - 20px);
}

.setrviceLine.buttons{
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ebebeb;
  opacity: 0;
  transition: .3s;
  height: 30px;
  background-color: #80fbd1;
}

.service_block:hover .setrviceLine.buttons{
  opacity: 1;
}

.setrviceLine.buttons div{
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding-top: 3px;
}

/** NewsComponent **/
.block.news{
  height: auto;
  padding-bottom: 30px;
}

.page.news .isPage{
  display: block;
}

.fullNews{
  max-width: 1080px;
  margin: auto;
}

.miniTitle{
  max-width: 1080px;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  margin: 25px auto;
}

.fullNews .newsBlockContent{
  width: calc(100% / 3 - 20px);
  margin: 10px;
  height: 480px;
}

.fullNews .newsBlockContent .newsLine.text{
  max-height: 210px;
  height: 100%;
  display: block;
}

.newsBlockContent{
  width: calc(100% / 3 - 20px);
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
  display: inline-block;
  height: 400px;
  position: relative;
}

.newsLine{
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;
  max-height: 190px;
  overflow: hidden;
}

.newsLine.image{

}

.newsLine.image img{
  height: 183px;
}

.newsLine.title{
  text-transform: uppercase;
  margin: 5px 0;
  font-weight: bold;
  color: #393939;
  padding: 0 10px;
  width: calc(100% - 20px);
}

.swiper-slide{
  height: 480px;
}

.newsLine.text{
  padding: 0 10px;
  width: calc(100% - 20px);
  overflow: hidden;
  max-height: 210px;
}

.newsLine.buttons{
  margin-top: 10px;
  bottom: 10px;
  left: 0;
  position: absolute;
}

.newsLine.buttons div{
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #0000ad;
}

.openFullNewsBTN{
  width: 100%;
  height: 40px;
  background-color: #ebebeb;
  line-height: 40px;
  text-transform: uppercase;
  border-radius: 150px;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
  cursor: pointer;
  transition: 0.3s;
  max-width: 1080px;
  margin: auto;
  color: black;
  text-decoration: none;
  margin-top: 60px;
  display: table;
  text-align: center;
}

.openFullNewsBTN:hover{
  background-color: #d9d9d9;
}

/** BlogComponent **/
.block.blog{
  height: auto;
}

.blogBlockContentData{
  max-width: 1080px;
  margin: auto;
}

.blogBlockContent{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 230px;
  position: relative;
  border-bottom: 1px solid #a3a3a3;
  cursor: pointer;
  transition: .3s;
}

.blogBlockContent:hover{
  background-color: #fbfbfb;
}

.blogBlockContent:hover .blogLine.date{
  top: -20px;
}

.blogBlockContent.open{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  position: relative;
  border-bottom: 1px solid #a3a3a3;
  max-height: fit-content;
}

.blogBlockContent.open .blogLine.text {
  padding: 0 10px;
  width: calc(100% - 318px);
  float: right;
  overflow: hidden;
  max-height: fit-content;
  margin: auto;
  float: none;
  margin-bottom: 50px;
}

.blogLine{
  display: inline-block;
  text-align: center;
  width: auto;
  position: relative;
}

.blogLine.image{
  width: 298px;
  overflow: hidden;
  float: left;
  max-height: calc(100% - 44px);
}

.blogLine.image img{
  width: 100%;
}

.blogLine.title{
  text-transform: uppercase;
  margin: 5px 0;
  font-weight: bold;
  color: #393939;
  padding: 0 10px;
  width: calc(100% - 318px);
  float: right;
}

.blogLine.text{
  padding: 0 10px;
  width: calc(100% - 318px);
  max-height: 210px;
  float: right;
  overflow: hidden;
  max-height: 135px;
}

.blogLine.buttons{
  margin-top: 10px;
  bottom: 10px;
  right: 0;
  position: absolute;
  color: blue;
  cursor: pointer;
}

.blogLine.date{
  top: -10px;
  right: 5px;
  position: absolute;
  color: silver;
  transition: .3s;
}

.blogLine.tags{
  bottom: 10px;
  left: 0;
  position: absolute;
}

.tag{
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 3px 15px;
  background-color: #ebebeb;
  color: black;
  cursor: pointer;
  border-radius: 150px;
}

/** ContactsComponent **/
.block.contacts{
  height: fit-content;
}

.contactsContent{
  width: 100%;
  height: calc(100% - 134px);
  background-color: #262626;
  position: relative;
}

.swgBorder{
  position: absolute;
  width: 100%;
  z-index: 5;
  height: calc(100% - 134px);
  transform: rotate(180deg);
  margin-top: -1px;
}

.swgBorder svg{
  position: absolute;
  bottom: 0;
}

.contactsContentBlockData{
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: auto;
  position: relative;
  z-index: 6;
  padding-bottom: 50px;
}

.blockDataInline{
  width: 50%;
  height: 300px;
  position: relative;
  margin-top: 200px;
  display: inline-table;
}

.messageLine,.contactsLine{
  width: 100%;
  margin-bottom: 15px;
}

.contactsLine{
  width: calc(100% - 10px);
  padding-left: 10px;
  border-left: 2px solid #a98535;
}

.contactsLine a{
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-top: 5px;
  display: block;
  width: fit-content;
}

.numbers_a{
  display: block;
  width: fit-content;
}

.contactsLine .socialContact{
  margin: 10px 5px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
  display: inline-block;
  font-size: 24px;
}

.contactsLine .socialContact:hover{
  color: #11a0ff;
}

.messageLineTitle,.contactsLineTitle{
  color: #a98535;
  text-transform: uppercase;
}

.inputForm{
  width: calc(100% - 12px);
  height: 30px;
  border-radius: 3px;
  border: 1px solid #a98535;
  padding-left: 10px;
  background-color: white;
  margin-top: 5px;
}

.inputForm.areaText{
  height: 100px;
  resize: none;
}

.submitButton{
  width: 100%;
  height: 40px;
  background-color: #a98535;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  transition: 0.1s;
}

.submitButton:hover{
  background-color: #917027;
}
/** MapComponent **/
.block.map{
    height: 400px;
}

.mapDataBlock{
  width: 100%;
  height: 100%;
  position: absolute;
}

#map{
  width: 100%;
  height: calc(100%);
}


#mePin path {
  fill: #ce7575;
}

#mePin .ring_outer {
  animation: opacityPulse 2s cubic-bezier(1, 0.14, 1, 1);
  animation-iteration-count: infinite;
  opacity: 0.5;
}

#mePin .ring_inner {
  animation: opacityPulse 2s cubic-bezier(0.4, 0.74, 0.56, 0.82);
  animation-iteration-count: infinite;
  opacity: 0.8;
}

@keyframes opacityPulse {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 5px, 0);
  }
  75% {
    transform: translate3d(0, -3px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}

/** FooterComponent **/
.block.footer{
  max-height: 320px;
  position: relative;
  z-index: 6;
}

.footerCenterBlock{
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: auto;
  color: white;
}

.footerContent{
  display: inline-block;
}

.footerContent.left{
  float: left;
  padding-top: 40px;
}
.footerContent.right{
  float: right;
  padding-top: 40px;
}
.footerContent.center{
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  padding: 0;
  transform: translate(-50%, -50%);
}

.footer_logotype{
  width: 100%;
  height: 100%;
}

.footer_logotype .logoBlock{
  width: 100%;
  height: 100%;
  top: 0;
}

.footerContentTitle{
  text-align: left;
  color: #a98535;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 20px;
}

.footerContent .menu_btn{
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 3px;
  color: white;
}

.footerContactsLine{
  text-align: right;
  color: white;
  margin-bottom: 10px;
}

.footerContactsLine .contactsLineTitle{
  color: white;
  font-size: 14px;
}

.footerContactsLine a{
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-align: right;
}

.footerContactsLine a.numbers_a{
  width: 100%;
}

.footerContactsLine a.socialContact{
  margin: 10px 5px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
  display: inline-block;
  font-size: 24px;
}


/************** PAGES **************/
.pageContent{
  width: 100%;
  padding-top: 55px;
}

/** Page services **/
.page.services{
  background-color: white;
  height: auto;
  padding-bottom: 50px;
}

.pageServiceContainer{
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding-bottom: 50px;
}

.pageServiceBlock{
  display: inline-block;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

.page_serviceTitle{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid rgba(192, 192, 192, 0.43);
  margin-bottom: 10px;
  padding-bottom: 10px;
  cursor: default;
}

.openCloseThisBlock{
  position: absolute;
  right: 16px;
  font-size: 40px;
  font-weight: bold;
  top: -5px;
  color: #262626;
  cursor: pointer;
}

.page_serviceText{
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  height: 0;
  transition: 0.3s;
}

.page_serviceText.open{
  height: auto;
}

/** Page news **/
.page.news{
  background-color: white;
  height: auto;
}

.pageNewsContainer{
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding-bottom: 50px;
}

.pageNewsContainer .newsBlockContent{
  margin: 10px;
  height: 480px;
}

/** Page blog **/
.page.blog{
  background-color: white;
  height: auto;
}

.pageBlogContainer{
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding-bottom: 50px;
}

/** Page return **/
.page.return{
  background-color: white;
  height: auto;
}

.page.return .pageContent{
  float: left;
}

.pageReturnContainer{
  width: 100%;
  margin: auto;
  padding-bottom: 50px;
  height: fit-content;
  float: left;
}

/** Page divorce **/
.page.divorce{
  background-color: white;
  height: auto;
}

.page.divorce .pageContent{
  float: left;
}

.pageDivorceContainer{
  width: 100%;
  margin: auto;
  padding-bottom: 50px;
  height: fit-content;
  float: left;
}

.pageDivorceContainer.dark{
  background-color: #f3f3f3;
}

.contentBlockDivorce{
  max-width: 1080px;
  margin: auto;
}

.divorceIneInfo{
  font-size: 30px;
  text-align: center;
  width: 100%;
  font-style: italic;
  padding-top: 20px;
  color: #57565c;
}

.allDivorceBlock{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.miniDivorceContainer{
  width: calc(100% / 3);
  display: inline-block;
  text-align: center;
  height: 150px;
  float: left;
}

.miniDivorceContainer .divContLogo{
  text-align: center;
}

.miniDivorceContainer .divContLogo img{
  max-width: 100px;
  max-height: 90px;
}

.miniDivorceContainer .divContText{
    font-size: 20px;
}

.allDivorceBlockInline{
  display: inline-grid;
  width: calc(50% - 20px);
  padding: 10px;
}

.allDivorceLine{
  display: inline-block;
  font-size: 20px;
  margin-bottom: 10px;
}

.blockInlineTitle{
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
  background-color: #cff09e;
  color: #656d78;
  padding: 5px 150px;
  white-space: nowrap;
  border-radius: 150px;
}

.green svg{
  color: #81cc81;
}

.blue svg{
  color: #989ce0;
}

.bigRedButton{
  width: 100%;
  background-color: #d95c4f;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 150px;
  transition: 0.3s;
}

.bigRedButton:hover{
  background-color: #d04333;
}

.mTop30{
  margin-top: 30px;
}

.woodLine{
  width: 100%;
  display: inline-block;
}

.WL50{
  width: calc(50% - 10px);
  display: inline-block;
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
}

.WL50.WL_Left{
  text-align: right;
  padding-right: 10px;
}

.WL50.WL_Right{
  text-align: left;
  padding-left: 10px;
}



/** Page contacts **/
.page.contacts{
  background-color: white;
  height: auto;
}

.pageContactsContainer{
  width: 100%;
  /* max-width: 1080px; */
  margin: auto;
}


.blockDataInlinePage{
  display: inline-block;
  width: calc(50% - 20px);
  height: auto;
  position: relative;
  float: left;
  margin: auto;
}

.blockDataInlinePage .contactsLine a{
  color: black;
}


/** Globals **/
.viewAllButton{
  width: 100%;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  background-color: #ebebeb;
  line-height: 40px;
  text-transform: uppercase;
  border-radius: 150px;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
  cursor: pointer;
  transition: 0.3s;
}

.viewAllButton:hover{
  background-color: #d9d9d9;
}

.bdt-heading-style {
  height: 16px;
  width: 170px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  background-position: center;
}

.title_block .bdt-heading-style {
  height: 50px;
  margin-top: 0;
}

/** Return block **/
.returnBlockData{
  max-width: 1180px;
  margin: auto;
}

.miniTextReturn{
  text-align: center;
  color: #828282;
  font-size: 18px;
  font-style: italic;
}

.textReturn{
  padding-top: 20px;
  font-size: 20px;
  width: 100%;
  float: left;
}

.returnIneInfo{
  font-size: 30px;
  text-align: center;
  width: 100%;
  font-style: italic;
  padding-top: 20px;
  color: #57565c;
}

.returnSubIneInfo{
  font-size: 26px;
  text-align: center;
  width: 100%;
  font-style: italic;
  color: #8f2d2dcc;
}

.allReturnBlock{
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.miniReturnContainer{
  width: calc(100% / 2);
  display: inline-table;
  text-align: center;
  height: 150px;
}

.miniReturnContainer .divContLogo{
  text-align: center;
}

.miniReturnContainer .divContLogo img{
  max-width: 100px;
  max-height: 90px;
}

.miniReturnContainer .divContText{
    font-size: 20px;
}

/** AuthorBlock **/
.block.author{
  height: auto;
  padding: 20px 0;
  background-color: #1b1b1b;
  z-index: 5;
  position: relative;
}

.authorContent{
  max-width: 1024px;
  width: 100%;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  color: white;
  position: relative;
  z-index: 8;
}

.authorContent a{
  color: wheat;
}

.authorContent svg{
  margin: 0px 10px;
  color: rgb(201, 169, 0);
}

/** modal **/
.modalBackground{
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5803921568627451);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modalContent {
  position: absolute;
  max-width: 650px;
  max-height: calc(100% - 200px);
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 3px;
  /* height: 100%; */
  width: 100%;
}

.closeModal{
  position: absolute;
  right: -18px;
  top: -18px;
  color: white;
  cursor: pointer;
  width: 36px;
  height: 36px;
  background-color: #ca4747;
  text-align: center;
  line-height: 36px;
  font-size: 26px;
  border-radius: 150px;
  transition: 0.3s;
  z-index: 2;
}

.closeModal:hover{
  background-color: #be3838;
}

.modalTitle{
  width: 100%;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid silver;
}

.modalBody{
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: calc(100% - 55px);
  border-bottom: 1px solid silver;
  padding: 5px 0 15px 0;
  font-size: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
  padding: 5px 10px 5px 0;
}

.modalBody::-webkit-scrollbar-track
{
  background-color: #ffffff;
  border-left: 1px solid #c3c3c3;
}

.modalBody::-webkit-scrollbar{
  width: 6px;
  background-color: #000000;
  border-radius: 10px;
  cursor: pointer;
}

.modalBody::-webkit-scrollbar-thumb{
  background-color: #262626;
  border-radius: 0;
  cursor: pointer;
}

.modalFooter{

}

.modalSubTitle{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-style: italic;
  color: silver;
  font-size: 18px;
}

.modalLine{

}

.modalLineTitle{
  text-align: left;
  padding-left: 14px;
  padding-bottom: 5px;
}

.selectors{
  width: fit-content;
  margin: 10px auto;
}

.selectors label{
  display: inline-block;
  width: 120px;
  position: relative;
}

.selectors .rectRadio{
  width: 24px;
  height: 24px;
  border: 2px solid #598281;
  display: inline-block;
  cursor: pointer;
  background-size: contain;
  border-radius: 5px;
}

.rectRadio.activeRadio{
  background-image: url(./img/check-mark-icon.png);
}

.selectors .radioText{
  position: absolute;
  top: 4px;
  left: 34px;
  cursor: pointer;
}

.modalLine input[type=text]{
  border: 2px solid #598281;
  width: calc(100% - 5px);
  height: 26px;
  border-radius: 150px;
  margin-bottom: 10px;
  text-align: center;
  outline: none;
}

.modalLoader{
  display: none;
}

.modalLoader.show{
  background-image: url(./img/EmptyDeliriousBluefish-small.gif);
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: white;
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  top: 0;
}

/** signin **/
.page.signin{

}

.pageSignInContainer{
  max-width: 600px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.signInLine{
  display: inline-block;
  width: 100%;
}

.signInInput{
  width: 100%;
  height: 32px;
  margin: 5px 0;
  border: 1px solid #262626;
  border-radius: 150px;
  text-align: center;
  background-color: white;
}

.signInButton{
  width: 100%;
  height: 32px;
  margin: 5px 0;
  border: 1px solid #262626;
  border-radius: 150px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #262626;
  cursor: pointer;
}

.auth_logo{

}

.auth_logo img{

}

.isPage{
  display: none;
}

.hiden{
  opacity: 0;
  z-index: -1;
  display: none;
}

.none{
  display: none;
}

.remove_blog{
  position: absolute;
  right: 0;
  bottom: 5px;
  background-color: #f55656;
  width: 100px;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 150px;
}

.add_blog{
  width: 100%;
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
  background-color: #73e87b;
  padding: 10px 0;
  border-radius: 150px;
  color: black;
  cursor: pointer;
}

.addBlocgMOdal{
  position: fixed;
  background-color: #fff;
  z-index: 100;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 25px;
  border: 1px solid silver;
  border-radius: 5px;
}

.title_addMOdal{
  text-align: center;
  font-size: 20px;
  width: 100%;
}

.body_addMOadal{
  margin: auto;
  max-width: 1080px;
  width: 100%;
}

.add_new_input{
  width: 100%;
  height: 36px;
  border-radius: 150px;
  margin: 10px 0;
  border: 1px solid green;
  text-align: center;
}

.add_new_input.textares_blog{
  height: 150px;
  border-radius: 15px;
}

.footer_addMOdal{
  text-align: center;
  background-color: white;
}

.modalFooterButton{
  display: inline-block;
  padding: 5px 30px;
  background-color: #73e87b;
  margin: 10px;
  border-radius: 150px;
  cursor: pointer;
  border: none;
  font-family: sans-serif;
  text-transform: uppercase;
}

.carouselBlock{
  max-width: 1024px;
  margin: auto;
}

.notDataFound{
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #fdcfcf;
  border-radius: 5px;
  margin: 15px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.signInLoader{
  position: absolute;
  width: calc(100% + 10px);
  height: 100%;
  background-color: white;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
}

.error{
  text-align: center;
  color: red;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.openBlogDialog{
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100%;
  background-color: rgba(167, 167, 167, 0.6);
  text-align: center;
  vertical-align: middle;
  line-height: 240px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
  font-size: 24px;
  opacity: 0;
  transition: .3s;
}

.blogBlockContent:hover .openBlogDialog{
  opacity: 1;
}

.modalLoader.error{

}

.modalLoader.success{

}

.remove_news{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  text-align: center;
  width: 100%;
  background-color: #ff5353;
  padding: 5px 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}
